@font-face{
  font-family: 'Goyang';
  src:url('fonts/Goyang.woff') font('woff');
  font-weight: normal;
  font-style: normal;
}
/**
box-sizing
  박스크기를 어떤것을 기준으로 정할 것인가.
  content-box  : 콘텐트 영역을 기준으로(패딩/마진/테두리 제외한 콘텐트 지정)
  border-box : 테두리 영역을 기준으로 (모두합한 크기 지정)
  initial : 기본값으로 설정 
*/
html {
  box-sizing: border-box;
}

body{
  font-family: Goyang;
  background-image: url('https://raw.githubuserContent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images/bg.jpg');
  background-attachment: fixed;
  /* 가로세로중 더 넓은 쪽으로 맞춤 */
  background-size: cover;
  background-repeat: no-repeat;
}

/**
  OS 화이트모드일때 색변수
*/
 body {
    --black: #111;
    --white:  #fff;
    --primary: #1976d2;
    --error : #f44336; 
    --warning :#ff9800;
    --success: #4caf50;
    --font: #111;
    
    /* text color */
    color:var(--black);
} 
/**
  OS 다크모드일때 색변수
*/
@media(prefers-color-scheme:dark){
  body{
    --white: #111;
    --black:  #fff;
    --primary: #1976d2;
    --error : #f44336; 
    --warning :#ff9800;
    --success: #4caf50;
  }
}
/* 
  토글버튼을 통해 임의로 변경해야할경우 별도 변수 지정
*/
body[data-theme='light'] {
  --black: #111;
  --white: #fff;
  --error: #f44336;
  --warning: #ff9800;
  --success: #4caf50;
}

body[data-theme='dark'] {
  --black: #fff;
  --white: #111;
  --error: #f44336;
  --warning: #ff9800;
  --success: #4caf50;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.pd-1 {
  padding: 5px;
}
.pd-2 {
  padding: 10px;
}
.pd-3 {
  padding: 15px;
}
.pd-4 {
  padding: 20px;
}
.pd-5 {
  padding: 25px;
}
.container {
  margin : 50px 0;
}
.container .heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px;
  margin: auto;
  padding: 40px 20px;
}

.container .heroes .hero {
  width: 80px;
  height: 84px;
  margin: 4px;
  border: 3px solid #ffffff;
  border-radius: 10px;
  background-color: #555;
  transform: skewX(-14deg);
  box-sizing: border-box;
  transition: transform .1s,
  background-color .6s;
  overflow: hidden;
}
.container .heroes .hero:hover {
  background-color: #ff9c00;
  transform: scale(1.3) skewX(-14deg);
  z-index: 1;
}

.container .heroes .hero .image {
  width: 140%;
  height: 100%;
  background-position: center;
  background-size: 90px;
  background-repeat: no-repeat;
  transform: skew(14deg) translateX(-16px);
}