/*브라우저가 폰트를 직접 다운받아 사용함*/
@font-face {
  font-family: 'Goyang';
  src: url('/src/fonts/Goyang.woff') format('woff');
  font-weight : normal;
  font-style : normal;
}
html {
  box-sizing: border-box;
}
body * {
  margin : 0;
  font-family: Goyang;
}
body {
  --black: #111;
  --white: #fff;
  --primary: #1976d2;
  --error: #f44336;
  --warning: #ff9800;
  --success: #4caf50;

  background-color: var(--white);
  color : var(--black);
  margin : 20px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
}
li {
  list-style: none;
}

.ErrorMessage{
  color : white;
  font-weight : bold;
  font-size: 18px;
  box-shadow: 0 0 3px #aaa;
  background-color: var(--warning);
  transition: opacity 0.3s;
}
.CriticalErrorMessage{
  background-color: var(--error);
  color : white;
  font-weight: bold;
}
.fade-in {
  opacity: 1 !important;
}

.fade-out {
  opacity: 0 !important;
}

.loading {
  position:fixed;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-dot{
  background: linear-gradient(-90deg, #666, #999, #bbb, #fff);
  background-size: 600% 600%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-radius: 100%;
  background-color: #000;
  animation:gradient 1s infinite
}
.loading-dot:nth-child(2){
  animation-delay: .2s;
}

.loading-dot:last-child{
  animation-delay: .4s;
}
.loading-dot:not(:last-child){
  margin-right: 5px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  10% {
    background-position: 0% 50%;
  }
}

@keyframes flick {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  30%,
  50% {
    opacity: 1;
  }
}